
     * {
        font-family:Georgia, 'Times New Roman', Times, serif;
      }
  
      body {
        background-color: hsl(165, 92%, 85%);
        position:relative;
        border-left: #FFFFFF 20px solid;
        border-right: #FFFFFF 20px solid;
        border-top: #FFFFFF 15px solid;
        padding: 25px 10px 10px 10px;
        height:100%;
        box-shadow: 2px 2px 2px;
        
      }
      body::after{
        content: "";
        background: url(./images/banner-bg.jpg);
        background-size:cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
     }
  
      h2 {
        font-size: 1.3rem;
      }

     
     